@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Carter+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

h1 {
  font-family: Bungee !important;
  text-align: center;
  font-size: 35px;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

table.gsc-search-box {
  padding-left: 40px;
  padding-right: 40px;
  display: inline-flexbox;
  margin: 0 auto;
  min-width: 350px;
  height: 25px;
  max-width: 1000px;
}

div#cse-search-form {
  margin: 0 auto !important;
  width: 50% !important;
  direction: rtl;
}

.gsc-input-box {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.gsc-search-button {
  position: relative;
  height: 27px;
  line-height: 27px;
  top: -0.5px;
}

.gsc-search-button button {
  border-radius: 4px;
}

.gsc-search-button-v2 {
  width: 60px !important;
  margin-left: 8px !important;
  padding: 5px !important;
}

.gsc-search-button button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}

.dev-info {
  padding-top: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.4);
}

.pe-logo {
  display: block;
  font: 40px "Bungee";
  width: 400px;
  height: 80px;
  margin: 0 auto;
  padding-bottom: 20px;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(255, 255, 255);
}
.center {
  position: relative;
  text-align: center;
}
.center h1 {
  color: rgba(255, 0, 0, 0.1);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 20px;
  background-repeat: repeat-y;
  background-size: cover;
  background-blend-mode: darken;
  background-image: url(https://raw.githubusercontent.com/spartrekus/Totally-Libre-Free-GNU-Matrix-Wallpaper-1920x1080/master/cmatrix-free-gnu-wallpaper-unix-1920x1080.png);
  -webkit-background-clip: text;
  animation: background-text-animation 20s linear infinite;
}
@keyframes background-text-animation {
  0% {
    background-position: left 0px top 10%;
  }
  100% {
    background-position: left 0px top 2500px;
  }
}
